@font-face {
  font-family: "Open Sans";
  src: url('resources/open-sans/OpenSans-Regular.ttf');
  font-weight: normal;
}

body, html {
  background-color: #21252B;
  color: #abb2bf;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

div {
  display: inline-block;
}

.button {
  background-color: #282C34;
  -webkit-app-region: no-drag;
  -webkit-user-select: none;
  cursor: default;
}

.button:hover {
  background-color: #383C44;
}

.button:active {
  background-color: #30343C;
}

.window-control {
  height: 23px;
  width: 40px;
  margin-left: 3px;
}

#container {
  background-color: #282C34;
  width: calc(100% - 10px);
  height: calc(100% - 30px);
  padding: 5px;
}

#window-toolbar {
  width: 100%;
  height: 30px;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#window-title {
  color: #585C64;
  padding-left: 5px;
  /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;*/
}

#window-controls {
  float: right;
}

#window-minimise {
  background-color: #484C34;
}

#window-minimise:hover {
  background-color: #706030;
}

#window-minimise:active {
  background-color: #605030;
}

#window-maximise {
  background-color: #284C34;
}

#window-maximise:hover {
  background-color: #307030;
}

#window-maximise:active {
  background-color: #305030;
}

#window-close {
  background-color: #482C34;
}

#window-close:hover {
  background-color: #703030;
}

#window-close:active {
  background-color: #503030;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

 ::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

 ::-webkit-scrollbar-thumb {
  background: #282C34;
  border: 0px none #ffffff;
  border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:hover {
  background: #31353B;
}

 ::-webkit-scrollbar-thumb:active {
  background: #21252B;
}

 ::-webkit-scrollbar-track {
  background: #282C34;
  border: 0px none #ffffff;
  border-radius: 50px;
}

 ::-webkit-scrollbar-track:hover {
  background: #282C34;
}

 ::-webkit-scrollbar-track:active {
  background: #282C34;
}

 ::-webkit-scrollbar-corner {
  background: transparent;
}
